.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

form {
  margin: 50px 0;
}

.form-check-inline {
  margin: 0 5px 10px 0;
}

[type="checkbox"] {
  display: none;
}

.form-check-label {
  transition: all 144ms ease-in-out;
}

.form-check-label:hover {
  -webkit-transform: scale(0.975);
  transform: scale(0.975);
}

.form-check-label::before {
  display: inline-block;
  margin-right: 2px;
  transition: -webkit-transform 144ms ease-in-out;
  transition: transform 144ms ease-in-out;
  transition: transform 144ms ease-in-out, -webkit-transform 144ms ease-in-out;
  content: '+';
}

[type="checkbox"]:not(:checked)+.form-check-label,
[type="checkbox"]:not(:checked)+.form-check-label:hover {
  background-color: transparent;
  color: #363636;
  border-color: currentColor;
}

[type="checkbox"]:checked+.form-check-label::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

pre code {
  display: block;
  margin: 2em 0;
  border-radius: 0.25rem;
  padding: 1em 2em;
  background: #33333f;
  color: ghostwhite;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
